body{
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    font-size: 16px;
}

/* p,li{
    text-align: justify;
} */

.main{
    width: 40%;
    margin-left: 27%;
    padding: 30px;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 15px;
}

.omelette{
    position: relative;
    width: 100%;
    border-radius: 13px;
}

h1{
    font-family: "Young Serif", serif;
}

#prep{
    background-color: hsl(330, 100%, 98%);
    /* width: 100%; */
    /* height: auto; */
    padding: 6px;
    border-radius: 12px;
}

#prep>p{
    font-weight: bold;
    font-size: larger;
    color: hsl(332, 51%, 32%);
    margin-left: 18px;
}

#prep li{
    color: hsl(332, 51%, 32%);
}

/* span{
    color: rgb(198, 42, 42);
} */

.bold{
    color: hsl(24, 5%, 18%);
    font-weight: bold;
    
}

li{
    padding: 5px;
}

h2{
    font-family: "Young Serif", serif;
    font-weight: 900;
}

h2,li{
    color: hsl(14, 45%, 36%);
}

.nut{
    font-weight: bold;
    color: hsl(14, 45%, 36%);
    float: right;
    margin-right: 40%;
}

span{
    color: black;
}

@media (max-width:600px){
    .main{
        width: 100%;
        margin: 0%;
        padding: 1px;
    }

    body{
        background-color: white;
    }
}